.footer__container{
    width: 100vw;
    height: 10vh;
    background-color: var(--color-bg-footer);
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.footer__title{
    padding:1rem;
    align-items: center;
    font-size: 1.0rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-text-secondary);
}