@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

:root{
    --color-bg-primary:  #0B0C10;
    --color-bg-accent: #1F2833;
    --color-text-primary: #C5C6C7;
    --color-secondary: #66FCF1;
    --color-secondary-accent: #45A29E;
}